<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title>Little Jamaica Restaurant and Lounge</title>
        <link rel = "icon" href = "img/logo.png">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel = "stylesheet" type = "text/css" href = "css/location.css">
    </head>
    <body>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>$(document).ready(function() {
            $("#header").load("shtml/header.shtml");
            $("#footer").load("shtml/footer.shtml");
        });
        </script>
        
        <div class = "container">
            <div id = "header">
                
            </div>
            <div id = "main-content">
                <div id = "banner">
                    <h1 id = "banner-heading">Little Jamaica Restaurant and Lounge</h1>

                    <img src = "img/Jerk Chicken Plate.webp">

                </div>

                <div class = "heading">

                    <h1>Little Jamaica Restaurant and Lounge located in Killeen Texas</h1>

                </div>

                <div id = "location-map"></div>

                <h2 id = "location-address"><a href = "https://www.google.com/maps?ll=31.11232,-97.761626&z=17&t=m&hl=en-US&gl=US&mapclient=apiv3&cid=10325049426661450350" target = "_blank" style = "color: black;">1200B Willow Springs Rd, Killeen TX</a></h2>

            </div>

            <div id = "footer">

               

            </div>
        </div>
    </body>
    <script src = "js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClcnrZZ9iberAOgaXCM9BQevGQdLPMMSk&callback=myMap"></script>
</html>