<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title>Little Jamaica Restaurant and Lounge</title>
        <link rel = "icon" href = "img/logo.png">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel = "stylesheet" type = "text/css" href = "css/menu.css">
    </head>
    <body>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>$(document).ready(function() {
            $("#header").load("shtml/header.shtml");
            $("#footer").load("shtml/footer.shtml");
            
        });
        </script>
        
        <div class = "container">
            <div id = "header">
               
            </div>
            <div id = "main-content">
                <div id = "banner">
                    <h1 id = "banner-heading">Little Jamaica Restaurant and Lounge</h1>

                    <img src = "img/Jerk Chicken Plate.webp">

                </div>

                <div class = "heading">
                    <h1>Our Menu</h1>
                </div>

                <div id = "menu-content">

                    <div id = "menu-breakfast">

                        <div class = "menu-heading">
                            <h1>Breakfast</h1>
                        </div>

                        <div id = "ackee">

                            <img src = "img/menu/ackee.jpg" class = "menu-img" id = "ackee-img" onclick = "scrollGallery('ackee');">
                            <h2 class = "menu-name">Ackee & Saltfish</h2>

                        </div>

                        <div id = "porridge">
                            <img src = "img/menu/porridge.jpg" class = "menu-img">
                            <h2 class = "menu-name">Porridge</h2>
                        </div>
                        
                        <div id = "boiled-food">
                            <img src = "img/menu/boiled-food.jpg" class = "menu-img">
                            <h2 class = "menu-name">Boiled Food</h2>
                        </div>

                    </div>

                    <div id = "menu-chicken">

                        <div class = "menu-heading">
                            <h1>Chicken</h1>
                        </div>

                        <div id = "jerk-chicken">
                            <img src = "img/menu/jerk-chicken.jpg" class = "menu-img">
                            <h2 class = "menu-name">Jerk Chicken</h2>
                        </div>

                        <div id = "curry-chicken">
                            <img src = "img/menu/curry-chicken.jpg" class = "menu-img">
                            <h2 class = "menu-name">Curry Chicken</h2>
                        </div>

                        <div id = "stew-chicken">
                            <img src = "img/menu/stew-chicken.png" class = "menu-img">
                            <h2 class = "menu-name">Stew Chicken</h2>
                        </div>

                        <div id = "fried-chicken">
                            <img src = "img/menu/fried-chicken.jpg" class = "menu-img">
                            <h2 class = "menu-name">Fried Chicken</h2>
                        </div>


                    </div>

                    <div id = "menu-premium-meats">
                        <div class = "menu-heading">
                            <h1>Premium Meats</h1>
                        </div>

                        <div id = "oxtail">
                            <img src = "img/menu/oxtail.jpg" class = "menu-img">
                            <h2 class = "menu-name">Oxtail</h2>
                        </div>

                        <div id = "curry-goat">
                            <img src = "img/menu/curry-goat.jpg" class = "menu-img">
                            <h2 class = "menu-name">Curry Goat</h2>
                        </div>

                        <div id = "jerk-pork">
                            <img src = "img/menu/jerk-pork.jpg" class = "menu-img">
                            <h2 class = "menu-name">Jerk Pork</h2>
                        </div>
                    </div>

                    <div id = "menu-sides">
                        <div class = "menu-heading">
                            <h1>Sides</h1>
                        </div>

                        <div id = "fried-dumplings">
                            <img src = "img/menu/fried-dumplings.webp" class = "menu-img">
                            <h2 class = "menu-name">Fried Dumplings</h2>
                        </div>

                        <div id = "festival">
                            <img src = "img/menu/fried-festival.png" class = "menu-img">
                            <h2 class = "menu-name">Festival</h2>
                        </div>

                        <div id = "beef-patty">
                            <img src = "img/menu/beef-patty.jpg" class = "menu-img">
                            <h2 class = "menu-name">Beef Patties</h2>
                        </div>

                        <div id = "mac-n-cheese">
                            <img src = "img/menu/mac-n-cheese.jpg" class = "menu-img">
                            <h2 class = "menu-name">Mac n Cheese</h2>
                        </div>
                    </div>

                    <div id = "menu-drinks">
                        <div class = "menu-heading">
                            <h1>Drinks</h1>
                        </div>

                        <div id = "coke-products">
                            <img src = "img/menu/sprite.jpg" class = "menu-img">
                            <h2 class = "menu-name">Coke Products</h2>

                        </div>

                        <div id = "d-g">
                            <img src = "img/menu/kola-champagne.jpg" class = "menu-img">
                            <h2 class = "menu-name">D&G Products</h2>
                        </div>

                        <div id = "tropical-rhythms">
                            <img src = "img/menu/reggae-medley.jpg" class = "menu-img">
                            <h2 class = "menu-name">Tropical Rhythms</h2>
                        </div>

                        <div id = "natural-drinks">
                            <img src = "img/menu/pineapple-ginger.webp" class = "menu-img">
                            <h2 class = "menu-name">Natural Drinks</h2>
                        </div>
                    </div>

                </div>

                <div id = "menu-gallery">

                    

                </div>
                
            </div>

            <div id = "footer">

                
            </div>
        </div>

        <script src = "js/menu.js"></script>
    </body>
</html>