<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title>Little Jamaica Restaurant and Lounge</title>
        <link rel = "icon" href = "img/logo.png">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel = "stylesheet" type = "text/css" href = "css/order.css">
    </head>
    <body>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>$(document).ready(function() {
            $("#header").load("shtml/header.shtml");
            $("#footer").load("shtml/footer.shtml");
        });
        </script>
        
        <div class = "container">
            <div id = "header">
                
            </div>
            <div id = "main-content">
                <div id = "banner">
                    <h1 id = "banner-heading">Little Jamaica Restaurant and Lounge</h1>

                    <img src = "img/Jerk Chicken Plate.webp">

                </div>

                <div class = "heading">
                    <h1>Delivery</h1>

                    <div id = "delivery-apps">

                        <div id = "doordash">
                            <a href = "https://www.doordash.com/store/little-jamaica-restaurant-and-lounge-killeen-898814/?event_type=autocomplete&pickup=false" target = "_blank"><img class = "delivery-icons" src = "img/doordash.png"></a>
                        </div>
                        <div id = "ubereats">
                            <a href = "https://www.ubereats.com/store/little-jamaica-restaurant-and-lounge/xtamGbNCQHq4AHvJkBYj9Q?diningMode=DELIVERY" target = "_blank"><img class = "delivery-icons" src = "img/ubereats.webp"></a>
                        </div>
                        <div id = "grubhub">
                            <a href = "https://www.grubhub.com/restaurant/little-jamaica-restaurant-and-lounge-1200a-willow-springs-rd-killeen/2301440" target = "_blank"><img class = "delivery-icons" src = "img/grubhub.webp"></a>
                        </div>

                    </div>
                </div>

            </div>

            <div id = "footer">

               

            </div>
        </div>
    </body>
</html>