<!DOCTYPE html>
<html lang = "en-us">
    <head>
        <title>Little Jamaica Restaurant and Lounge</title>
        <link rel = "icon" href = "img/logo.png">
        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel = "stylesheet" type = "text/css" href = "css/order.css">
    </head>
    <body>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>$(document).ready(function() {
            $("#header").load("shtml/header.shtml");
            $("#footer").load("shtml/footer.shtml");
        });
        </script>
        
        <div class = "container">
            <div id = "header">
                
            </div>
            <div id = "main-content">
                <div id = "banner">
                    <h1 id = "banner-heading">Little Jamaica Restaurant and Lounge</h1>

                    <img src = "img/Jerk Chicken Plate.webp">

                </div>

                <div class = "heading">
                    <h1>Order</h1>
                </div>

                
                
            </div>

            <div id = "footer">

               

            </div>
        </div>
    </body>
</html>