
            
                <!DOCTYPE html>
                <html lang = "en-us">
                    <head>
                        <title>Little Jamaica Restaurant and Lounge</title>
                        <link rel = "icon" href = "img/logo.png">
                        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
                        <link rel = "stylesheet" type = "text/css" href = "css/review.css">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    </head>
                    <body>
        
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
                    <div class = "container">
        
                        <div id = "header">
                            <div id = "logo">
    <img src = "img/logo.png">
</div>

<div id = "navbar">
    <ul>
        <li><a href = "/contact">Contact Us</a></li>
        <li><a href = "/review">Reviews</a></li>
        <li><a href = "/apply">Apply</a></li>
        <li><a href = "/team">Our Team</a></li>
        <li><a href = "/location">Location</a></li>
        <li><a href = "/menu">Menu</a></li>
        <li><a href = "/">Home</a></li>
    </ul>
</div>

                        </div>
                        <div id = "main-content">
                            <div id = "banner">
                                <h1 id = "banner-heading">Little Jamaica Restaurant and Lounge</h1>
                                <img src = "img/Jerk Chicken Plate.webp">
                            </div>
        
                            <div class = "heading">
                                <h1>Reviews</h1>
                            </div>
        
                            <div id = "review">
        
                                
            
                <div id = "reviews">
                    
                    
                
                    <div id = "review-name">
                        <h1>Alexandre Boland</h1>
                    </div>
        
                    <div id = "review-rating">
        
                        <span class="fa fa-star checked" id = "rating-one0"></span>
                        <span class="fa fa-star checked" id = "rating-two0"></span>
                        <span class="fa fa-star checked" id = "rating-three0"></span>
                        <span class="fa fa-star checked" id = "rating-four0"></span>
                        <span class="fa fa-star checked" id = "rating-five0"></span>
        
                    </div>
        
                    <script>
                    
                        if (5 == 0) {
        
                            $("#rating-one0").css("color", "black");
                            $("#rating-two0").css("color", "black");
                            $("#rating-three0").css("color", "black");
                            $("#rating-four0").css("color", "black");
                            $("#rating-five0").css("color", "black");
        
                        }
        
                        if (5 == 1) {
        
                            $("#rating-one0").css("color", "orange");
                            $("#rating-two0").css("color", "black");
                            $("#rating-three0").css("color", "black");
                            $("#rating-four0").css("color", "black");
                            $("#rating-five0").css("color", "black");
        
                        }
        
                        if (5 == 2) {
        
                            $("#rating-one0").css("color", "orange");
                            $("#rating-two0").css("color", "orange");
                            $("#rating-three0").css("color", "black");
                            $("#rating-four0").css("color", "black");
                            $("#rating-five0").css("color", "black");
        
                        }
        
                        if (5 == 3) {
        
                            $("#rating-one0").css("color", "orange");
                            $("#rating-two0").css("color", "orange");
                            $("#rating-three0").css("color", "orange");
                            $("#rating-four0").css("color", "black");
                            $("#rating-five0").css("color", "black");
        
                        }
        
                        if (5 == 4) {
        
                            $("#rating-one0").css("color", "orange");
                            $("#rating-two0").css("color", "orange");
                            $("#rating-three0").css("color", "orange");
                            $("#rating-four0").css("color", "orange");
                            $("#rating-five0").css("color", "black");
        
                        }
        
                        if (5 == 5) {
        
                            $("#rating-one0").css("color", "orange");
                            $("#rating-two0").css("color", "orange");
                            $("#rating-three0").css("color", "orange");
                            $("#rating-four0").css("color", "orange");
                            $("#rating-five0").css("color", "orange");
        
                        }
        
                    </script>
        
                    <div id = "review-comment">
                        <p>First visit and you know me super honest is the best policy. My biggest complaint would be it took twenty minutes to get food that is already pre-prepped! The food was Luke warm and it should have been hot at least with that long of a waits. We were given a cup of ice with one sip of spite in it. The cashier was knowledge and very kind during our order. She explained to me what I was ordering and delivered our food with a smile. I am interested in the night life but I hope they fix the ceiling because it looks like it’s ready to cave in one spot. The dining room was clean and I loved the music. Curry chicken is in point in ever sense of the word jerk chicken was a tidbit spicy for my Palate but manageable. Plantains are very sweet I don’t do a lot of sweets anyways but they were tasty and I enjoyed my entire meal. CoCo Bread tasted like a regular dinner roll to me nothing amazing honestly but overall I will recommend to others very yummy</p>
                    </div>
                    
                
        
                </div>
            
            
        
                            </div>
        
                            <div id = "review-button">
                                <a href = "/leave-a-review"><button>Leave a review</button></a>
                            </div>
        
                            <div id = "page-count">
        
                                <span id = "page"></span>
        
                            </div>
        
                        </div>
        
                        <div id = "footer">
                            <div id = "footer-hours">

    <h1 class = "footer-heading">Hours</h1>
    <h3 class = "footer-hours-body">Monday: 9:00AM - 7:00PM</h3>
    <h3 class = "footer-hours-body">Tuesday: 9:00AM - 7:00PM</h3>
    <h3 class = "footer-hours-body">Wednesday: 9:00AM - 7:00PM</h3>
    <h3 class = "footer-hours-body">Thursday: 9:00AM - 7:00PM</h3>
    <h3 class = "footer-hours-body">Friday: 9:00AM - 9:00PM</h3>
    <h3 class = "footer-hours-body">Saturday: 9:00AM - 9:00PM</h3>
    <h3 class = "footer-hours-body">Sunday: 11:00AM - 4:00PM</h3>

</div>

<div id = "footer-contact">

    <h1 class = "footer-heading">Contact</h1>
    <div class = "footer-contact-body">
        <a href = "https://www.instagram.com/littlejamaicakilleen/"><img src = "img/instagram.png" class = "footer-icons"></a>
        <a href = "http://snapchat.com/add/littlejamaicarestaurant"><img src = "img/snapchat.png" class = "footer-icons"></a>
        <a href = "https://www.facebook.com/Little-Jamaica-Restaurant-and-Lounge-107161144131941/?ref=page_internal"><img src = "img/facebook.png" class = "footer-icons"></a>
    </div> 

    <a href = "tel:254-213-2830" id = "phone-number">254-213-2830</a>

</div>

<div id = "footer-newsletter">

    <h1 class = "footer-heading">Newsletter</h1>
    <input type = "text" id = "newsletter-input" placeholder = "Enter your email">
    <input type = "button" value = "SUBSCRIBE" id = "newsletter-button">
</div>

<script src = "js/footer.js"></script>
                        </div>
        
                    </div>
                    </body>
                </html>
            
            