
        
                #review {
        
                    grid-area: body;
                
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                
                    grid-template-areas:
                    
                
                    "review0"
                
                ;
                    width: 60%;
                
                
                }
                
                
                
                    #reviews0 {
                    
                        grid-area: review0;
                    
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 30% 1fr;
                        grid-template-areas: "name rating"
                                            "comment comment";
                        margin: 5px;
                    
                    }
                
                
        
                #review-name {
                
                    grid-area: name;
                
                    text-align: center;
                }
                
                
                #review-rating {
                
                    grid-area: rating;
                
                    text-align: center;
                
                    align-self: center;
                
                
                }
                
                #review-comment {
                
                    border-top: 1px solid black;
                    grid-area: comment;
                
                
                }
        
                #review-button button {
                
                    background-color: lightcoral;
                    padding: 12px;
                    margin: 12px;
                    justify-self: center;
                    align-self: center;
                
                }
                
                .checked {
                
                    color: orange;
                
                }
        
            